html {
  background: url(/img/Backgrounds-Jdm-Wallpapers-HD.webp) no-repeat center fixed;
  background-size: cover;
}


.info {
  width: 1000px;
  margin:auto;
  margin-top: 15px;
  background-color: rgba(178, 188, 214, 0.452);
}

.title {
  margin: center;
  text-align: center;
  padding: 100px 50px;

}


.bar {
  text-decoration: none;
  font-family: fantasy;
  font-size: 30px;
  color: #0d0f1d;
  word-spacing: 25px;
  text-align: center;
} 

a {
  color: #800E13;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #dd7b0b;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(117, 14, 14);
  font-size: 60px;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quote {
  font-size: 40px;
}

hr {
  width: 900px;
}

h2 {
  color: #800E13;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.who, .age, .occupation, .arrest {
  color: #fda400;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin: auto;
}

img {
  width: 600px;
}



